.product-container {
  display: flex;
  flex-direction: column;
  padding: 16px;

  .product-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .product {
      display: flex;
      flex-direction: column;
      width: 600px;
      padding: 16px;
      border: 1px solid #a1a1a1;
      border-radius: 6px;

      .header {
        display: flex;
        justify-content: space-between;
        .count input {
          width: 30px;
          text-align: center;
        }
      }

      .ingredient {
        display: flex;
        margin-top: 16px;

        label {
          min-width: 120px;
        }

        .count input {
          width: 30px;
          text-align: center;
        }
      }
    }
    .action-section {
      display: flex;
      gap: 16px;
    }
  }
}
